<nav class="nav bg-purple justify-content-center">
    <a class="nav-link text-white" routerLink="/dashboard"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
    <a class="nav-link text-white" routerLink="/reportdashboard">Assessment </a>
    <a class="nav-link text-white" routerLink="/converter">Translation</a>
    <a class="nav-link text-white" href="/login">Logout <i class="fa fa-sign-out" aria-hidden="true"></i></a>
  </nav>




  <div class="container">
    <div class="row" style="margin-bottom: 10px;">
      <div class="col">

        <h4 class="mt-5">Macros Summary</h4>
      </div>
      <div class="col-3 form-group" style="float: right;align-self: end;margin-bottom: 8px;">
        <ng-multiselect-dropdown
          [placeholder]="'Filter'"
          [settings]="dropdownSettings"
          [data]="dropdownList"
          [(ngModel)]="selectedItems"
          (onFilterChange)="onItemSelect($event)"
          (onDropDownClose)="onItemSelect($event)"
          (onSelect)="onItemSelect($event)" 
          (onDeSelect)="onItemSelect($event)"
          (onSelectAll)="onItemSelect($event)"
          (onDeSelectAll)="onItemSelect($event)"
        >
        </ng-multiselect-dropdown>
        
        
      </div>
    </div>
    <div class="row">
      
<div class="col-xs-6 col-sm-6 col-md-3  p-2">
<a class="text-decoration-none" href="#">
  <div class="card p-3 shadow bg-purple text-center border-0">
    <div class="card-body">
      <p class="card-title lead ">DEFINING MACRO</p>
      <hr />
      <h2>{{Difining_Macro}}</h2>
    </div>
  </div>
</a>
</div>

<div class="col-xs-6 col-sm-6 col-md-3  p-2">
<a class="text-decoration-none" href="#">
  <div class="card p-3 shadow bg-danger text-center border-0">
    <div class="card-body">
      <p class="card-title lead text-white">DEFINING MACRO VARIABLES</p> 
      <hr class="text-white"/>
      <h2 class="text-white">{{Difining_Macro_Variables}}</h2>
    </div>
  </div>
</a>
</div>

<div class="col-xs-6 col-sm-6 col-md-3  p-2">
<a class="text-decoration-none" href="#">
  <div style="background-color: #34ba08;" class="card p-3 shadow text-center border-0">
    <div class="card-body">
      
      <p class="card-title lead text-white">MACRO FUN EVAL</p> 
      <hr class="text-white"/>
      <h2 class="text-white">{{Macro_Fun_Eval}}</h2>
    </div>
  </div>
</a>
</div>
<div class="col-xs-6 col-sm-6 col-md-3  p-2">
<a class="text-decoration-none" href="#">
  <div style="background-color: #34ba08;" class="card p-3 shadow text-center border-0">
    <div class="card-body">
      
      <p class="card-title lead text-white">MACRO GENDER CALLED</p>
       <hr class="text-white"/>
       <h2 class="text-white">{{Macro_Gender_Called}}</h2>
    </div>
  </div>
</a>
</div>
<div class="col-xs-6 col-sm-6 col-md-3  p-2">
<a class="text-decoration-none" href="#">
  <div style="background-color: #34ba08;" class="card p-3 shadow text-center border-0">
    <div class="card-body">
      
      <p class="card-title lead text-white">MACRO GENDER DEFINED</p>
       <hr class="text-white"/>
       <h2 class="text-white">{{Macro_Gender_Defined}}</h2>
    </div>
  </div>
</a>
</div>
<div class="col-xs-6 col-sm-6 col-md-3  p-2">
<a class="text-decoration-none" href="#">
  <div style="background-color: #34ba08;" class="card p-3 shadow text-center border-0">
    <div class="card-body">
      
      <p class="card-title lead text-white">MACRO LET CALLED</p>
       <hr class="text-white"/>
       <h2 class="text-white">{{Macro_Let_Called}}</h2>
    </div>
  </div>
</a>
</div>
<div class="col-xs-6 col-sm-6 col-md-3  p-2">
<a class="text-decoration-none" href="#">
  <div style="background-color: #34ba08;" class="card p-3 shadow text-center border-0">
    <div class="card-body">
      
      <p class="card-title lead text-white">MACRO SORT CALLED</p> 
      <hr class="text-white"/>
      <h2 class="text-white">{{Macro_sort_called}}</h2>
    </div>
  </div>
</a>
</div>
<div class="col-xs-6 col-sm-6 col-md-3  p-2">
<a class="text-decoration-none" href="#">
  <div style="background-color: #34ba08;" class="card p-3 shadow text-center border-0">
    <div class="card-body">
      
      <p class="card-title lead text-white">MACRO SORT DEFINED</p> 
      <hr class="text-white"/>
      <h2 class="text-white">{{Macro_Sort_Defined}}</h2>
    </div>
  </div>
</a>
</div>
</div>
</div>