<nav class="nav bg-purple justify-content-center">
    <a class="nav-link text-white" routerLink="/dashboard"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
    <a class="nav-link text-white" routerLink="/reportdashboard">Assement</a>
    <a class="nav-link text-white" routerLink="/converter">Translation</a>
    <a class="nav-link text-white" href="/login">Logout <i class="fa fa-sign-out" aria-hidden="true"></i></a>
  </nav>




  <div class="container">
    <div class="row">
      <h4 class="mt-5">Macros Summary</h4>
<div class="col-xs-6 col-sm-6 col-md-3  p-2">
<a class="text-decoration-none" href="#">
  <div class="card p-3 shadow bg-purple text-center border-0">
    <div class="card-body">
      <h2>20<span class="h6">&nbsp;/&nbsp;1000</span></h2>
      <hr />
      <p class="card-title lead ">DEFINING MACRO</p>
    </div>
  </div>
</a>
</div>

<div class="col-xs-6 col-sm-6 col-md-3  p-2">
<a class="text-decoration-none" href="#">
  <div class="card p-3 shadow bg-danger text-center border-0">
    <div class="card-body">
      <h2 class="text-white">0<span class="h6">&nbsp;/&nbsp;10</span></h2>
      <hr class="text-white"/>
      <p class="card-title lead text-white">DEFINING MACRO VARIABLES</p>
    </div>
  </div>
</a>
</div>

<div class="col-xs-6 col-sm-6 col-md-3  p-2">
<a class="text-decoration-none" href="#">
  <div style="background-color: #34ba08;" class="card p-3 shadow text-center border-0">
    <div class="card-body">
      <h2 class="text-white">2<span class="h6">&nbsp;/&nbsp;10</span></h2>
      <hr class="text-white"/>
      <p class="card-title lead text-white">MACRO FUN EVAL</p>
    </div>
  </div>
</a>
</div>
<div class="col-xs-6 col-sm-6 col-md-3  p-2">
<a class="text-decoration-none" href="#">
  <div style="background-color: #34ba08;" class="card p-3 shadow text-center border-0">
    <div class="card-body">
      <h2 class="text-white">2<span class="h6">&nbsp;/&nbsp;10</span></h2>
      <hr class="text-white"/>
      <p class="card-title lead text-white">MACRO GENDER CALLED</p>
    </div>
  </div>
</a>
</div>
<div class="col-xs-6 col-sm-6 col-md-3  p-2">
<a class="text-decoration-none" href="#">
  <div style="background-color: #34ba08;" class="card p-3 shadow text-center border-0">
    <div class="card-body">
      <h2 class="text-white">2<span class="h6">&nbsp;/&nbsp;10</span></h2>
      <hr class="text-white"/>
      <p class="card-title lead text-white">MACRO GENDER DEFINED</p>
    </div>
  </div>
</a>
</div>
<div class="col-xs-6 col-sm-6 col-md-3  p-2">
<a class="text-decoration-none" href="#">
  <div style="background-color: #34ba08;" class="card p-3 shadow text-center border-0">
    <div class="card-body">
      <h2 class="text-white">2<span class="h6">&nbsp;/&nbsp;10</span></h2>
      <hr class="text-white"/>
      <p class="card-title lead text-white">MACRO LET CALLED</p>
    </div>
  </div>
</a>
</div>
<div class="col-xs-6 col-sm-6 col-md-3  p-2">
<a class="text-decoration-none" href="#">
  <div style="background-color: #34ba08;" class="card p-3 shadow text-center border-0">
    <div class="card-body">
      <h2 class="text-white">2<span class="h6">&nbsp;/&nbsp;10</span></h2>
      <hr class="text-white"/>
      <p class="card-title lead text-white">MACRO SORT CALLED</p>
    </div>
  </div>
</a>
</div>
<div class="col-xs-6 col-sm-6 col-md-3  p-2">
<a class="text-decoration-none" href="#">
  <div style="background-color: #34ba08;" class="card p-3 shadow text-center border-0">
    <div class="card-body">
      <h2 class="text-white">2<span class="h6">&nbsp;/&nbsp;10</span></h2>
      <hr class="text-white"/>
      <p class="card-title lead text-white">MACRO SORT DEFINED</p>
    </div>
  </div>
</a>
</div>
</div>
</div>