<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container-fluid">
    <div class="row main-content bg-success text-center">
        <div class="col-md-4 text-center company__info">
            <span class="company__logo"><h2><span class="fa fa-3x fa-code"></span></h2></span>
            <h4 class="company_title">SAS to PYTHON
            </h4>
        </div>
        <div class="col-md-8 col-xs-12 col-sm-12 login_form ">
            <div class="container-fluid">
                <div class="row">
                    <h2>Log In</h2>
                </div>
                <form [formGroup]="loginform" (ngSubmit)="loginFormSubmit(loginform)" >
                    <div class="form-group">
                        <div class="col-12">
                            <input type="text" name="email" id="email" class="form__input" placeholder="Email" formControlName="email">
                        </div>
                        <div class="col-12">
                            <!-- <span class="fa fa-lock"></span> -->
                            <input type="password" name="password" id="password" class="form__input" placeholder="Password" formControlName="password">
                        </div>
                        <div class="row">


                            <div class="form-check">
                              
                                <label class="form-check-label" for="flexCheckIndeterminate">
                                  <a routerLink="/Registration" style="color: black;text-decoration: underline;"> Register Here </a>
                                </label>
                              </div>
                        </div>
                        <div class=" text-center row">
                            <div class="col-12">

                                <button type="submit" class="btn">Login</button>
                            </div>
                            <!-- <button type="submit" class="btn" style="color: white;background-color: #34ba08;">Convert</button> -->
                        </div>
                    </div>
                </form>
                <!-- <div class="row">
                    <p>Don't have an account? <a href="#">Register Here</a></p>
                </div> -->
            </div>
        </div>
    </div>
</div>


  
  <!-- <div class="container py-5">
    <div class="row">
      <div class="col-lg-12 p-5">
        <h1> <i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</h1>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-3 col5width p-2">
        <a class="text-decoration-none" href="#">
          <div class="card p-3 shadow bg-purple text-center border-0">
            <div class="card-body">
              <h2>20<span class="h6">&nbsp;/&nbsp;1000</span></h2>
              <hr />
              <p class="card-title lead ">PROC MEANS</p>
            </div>
          </div>
        </a>
      </div>
  
      <div class="col-xs-6 col-sm-6 col-md-3 col5width p-2">
        <a class="text-decoration-none" href="#">
          <div class="card p-3 shadow bg-danger text-center border-0">
            <div class="card-body">
              <h2 class="text-white">0<span class="h6">&nbsp;/&nbsp;10</span></h2>
              <hr class="text-white"/>
              <p class="card-title lead text-white">PROC SORT</p>
            </div>
          </div>
        </a>
      </div>
  
      <div class="col-xs-6 col-sm-6 col-md-3 col5width p-2">
        <a class="text-decoration-none" href="#">
          <div style="background-color: #34ba08;" class="card p-3 shadow text-center border-0">
            <div class="card-body">
              <h2 class="text-white">2<span class="h6">&nbsp;/&nbsp;10</span></h2>
              <hr class="text-white"/>
              <p class="card-title lead text-white">PROC PRINTTO</p>
            </div>
          </div>
        </a>
      </div>
  
      <div class="col-xs-6 col-sm-6 col-md-3 col5width p-2">
        <a class="text-decoration-none" href="#">
          <div class="card p-3 shadow bg-purple text-center border-0">
            <div class="card-body">
              <h2>2<span class="h6">&nbsp;/&nbsp;10</span></h2>
              <hr />
              <p class="card-title lead ">MACRO</p>
            </div>
          </div>
        </a>
      </div>
  
      <div class="col-xs-6 col-sm-6 col-md-3 col5width p-2">
        <a class="text-decoration-none" href="#">
          <div class="card p-3 shadow bg-purple text-center border-0">
            <div class="card-body">
             <h2>2<span class="h6">&nbsp;/&nbsp;10</span></h2>
              <hr />
              <p class="card-title lead ">PROC TRANSPOSE</p>
            </div>
          </div>
        </a>
      </div>
  
      <div class="col-xs-6 col-sm-6 col-md-3 col5width p-2">
        <a class="text-decoration-none" href="#" data-toggle="modal" data-target="#modelHELP">
          <div class="card p-3 shadow bg-purple text-center border-0">
            <div class="card-body">
              <h2>2<span class="h6">&nbsp;/&nbsp;10</span></h2>
              <hr />
              <p class="card-title lead ">PROC CORRELATION</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col5width p-2">
        <a class="text-decoration-none" href="#">
          <div class="card p-3 shadow bg-purple text-center border-0">
            <div class="card-body">
              <h2>2<span class="h6">&nbsp;/&nbsp;10</span></h2>
              <hr />
              <p class="card-title lead ">PROC FREQ</p>
            </div>
          </div>
        </a>
      </div>
  
      <div class="col-xs-6 col-sm-6 col-md-3 col5width p-2">
        <a class="text-decoration-none" href="#">
          <div class="card p-3 shadow bg-purple text-center border-0">
            <div class="card-body">
              <h2>2<span class="h6">&nbsp;/&nbsp;10</span></h2>
              <hr />
              <p class="card-title lead ">PROC CONTEXTS</p>
            </div>
          </div>
        </a>
      </div>
  
      <div class="col-xs-6 col-sm-6 col-md-3 col5width p-2">
        <a class="text-decoration-none" href="#">
          <div class="card p-3 shadow bg-purple text-center border-0">
            <div class="card-body">
             <h2>2<span class="h6">&nbsp;/&nbsp;10</span></h2>
              <hr />
              <p class="card-title lead "> PROC UNIVARIATE</p>
            </div>
          </div>
        </a>
      </div>
  
      <div class="col-xs-6 col-sm-6 col-md-3 col5width p-2">
        <a class="text-decoration-none" href="#" data-toggle="modal" data-target="#modelHELP">
          <div class="card p-3 shadow bg-purple text-center border-0">
            <div class="card-body">
              <h2>2<span class="h6">&nbsp;/&nbsp;10</span></h2>
              <hr />
              <p class="card-title lead ">PROC</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div> -->

  
 