/* ngs-code-editor .editor {
    width: 100%;
    height: inherit;
    min-height: 100%;
} */
::ng-deep ngs-code-editor .editor {
    height: 250px !important;
    min-height: 250% !important;
}

/* ::ng-deep ngx-monaco-editor {
    height: 100% !important;
  } */