<nav class="nav bg-info justify-content-around p-2">
    <div style="text-align: center;">
        <h3 style="color: white;">SAS to Python</h3>
        <!-- <a class="nav-link text-white" routerLink="/Dashboard"> Home <i class="fa fa-home" aria-hidden="true"></i></a> -->
    </div>
</nav>
<div class="container" style="margin-top: 36px;">

    <form [formGroup]="convertform" (ngSubmit)="converterFormSubmit(convertform)">

        <div class="row">
            <div class="col">
                <div style="text-align: center;">

                    <label class="form-label"><b>SAS</b></label>
                </div>
                <div class="mb-3" style="text-align: end;">
                    <button type="button" class="btn btn-success" (click)="downloadsas()">Export</button>
                </div>
                <div class="mb-3">
                    <input class="form-control" type="file" multiple />
                </div>
                <div class="mb-3">
                    
                    <ngs-code-editor 
                        theme="vs-dark"  
                        language="sas"                  
                        [options]="options"
                        (valueChanged)="onCodeChangedsas($event)">
                    </ngs-code-editor>
                    <!-- <textarea class="form-control" rows="15" formControlName="sas"></textarea> -->
                </div>
        
            </div>
            <div class="col">
                <div style="text-align: center;">
                    <label class="form-label"><b>Python</b></label>
                </div>
                <div class="mb-3" style="text-align: end;">
                    <button type="button" class="btn btn-success" (click)="downloadpython()">Export</button>
                </div>
                <div class="mb-3">
                    <input class="form-control" type="file" multiple />
                </div>
                <div class="mb-3">
                    <ngs-code-editor 
                        theme="vs-dark"  
                        language="python"                   
                        [options]="options"
                        (valueChanged)="onCodeChangedpython($event)">
                    </ngs-code-editor>
                    <!-- <textarea class="form-control" rows="15" formControlName="python"></textarea> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col" style="text-align: center;">
                <button type="submit" class="btn btn-primary">Convert</button>
            </div>
    
        </div>
    </form>

</div>