
<nav class="nav bg-purple justify-content-center">
    <a class="nav-link text-white" routerLink="/dashboard"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
    <a class="nav-link text-white" routerLink="/reportdashboard">Assessment </a>
    <a class="nav-link text-white" routerLink="/converter">Translation</a>
    <a class="nav-link text-white" href="/login">Logout <i class="fa fa-sign-out" aria-hidden="true"></i></a>
  </nav>

<div class="container">
  <div class="row" style="margin-bottom: 10px;">
    <div class="col">

      <h4 class="mt-5">Data Step Statements</h4>
    </div>
    <div class="col-3 form-group" style="float: right;align-self: end;margin-bottom: 8px;">
      <!-- <label>Filter</label> -->
      <!-- (onFilterChange)="onFilterChange($event)"
      (onDropDownClose)="onDropDownClose($event)"
      (onSelect)="onItemSelect($event)" 
      (onDeSelect)="onDeSelect($event)"
      (onSelectAll)="onSelectAll($event)"
      (onDeSelectAll)="onDeSelectAll($event)" -->
      <ng-multiselect-dropdown
        [placeholder]="'Filter'"
        [settings]="dropdownSettings"
        [data]="dropdownList"
        [(ngModel)]="selectedItems"
        (onFilterChange)="onItemSelect($event)"
        (onDropDownClose)="onItemSelect($event)"
        (onSelect)="onItemSelect($event)" 
        (onDeSelect)="onItemSelect($event)"
        (onSelectAll)="onItemSelect($event)"
        (onDeSelectAll)="onItemSelect($event)"
      >
      </ng-multiselect-dropdown>
    </div>
  </div>

    <div class="row">
      

      <div class="col-xs-6 col-sm-6 col-md-3 col5width p-2">
        <a class="text-decoration-none" href="#" data-toggle="modal" data-target="#modelHELP">
          <div class="card p-3 shadow bg-purple text-center border-0">
            <div class="card-body">
              
              <p class="card-title lead ">Array</p>
              <hr />
              <h2>{{Array}}</h2>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col5width p-2">
        <a class="text-decoration-none" href="#">
          <div class="card p-3 shadow bg-purple text-center border-0">
            <div class="card-body">
              
              <p class="card-title lead ">DROP</p>
              <hr />
              <h2>{{Drop}}</h2>
            </div>
          </div>
        </a>
      </div>
  
      <div class="col-xs-6 col-sm-6 col-md-3 col5width p-2">
        <a class="text-decoration-none" href="#">
          <div class="card p-3 shadow bg-purple text-center border-0">
            <div class="card-body">
              
              <p class="card-title lead ">KEEP</p>
              <hr />
              <h2>{{Keep}}</h2>
            </div>
          </div>
        </a>
      </div>
  
      <div class="col-xs-6 col-sm-6 col-md-3 col5width p-2">
        <a class="text-decoration-none" href="#">
          <div class="card p-3 shadow bg-purple text-center border-0">
            <div class="card-body">
             
              <p class="card-title lead "> RENAME</p>
              <hr />
              <h2>{{Rename}}</h2>
            </div>
          </div>
        </a>
      </div>
  
      <div class="col-xs-6 col-sm-6 col-md-3 col5width p-2">
        <a class="text-decoration-none" href="#" data-toggle="modal" data-target="#modelHELP">
          <div class="card p-3 shadow bg-purple text-center border-0">
            <div class="card-body">
              
              <p class="card-title lead ">SET</p>
              <hr />
              <h2>{{Set}}</h2>
            </div>
          </div>
        </a>
      </div>


      <div class="col-xs-6 col-sm-6 col-md-3 col5width p-2">
        <a class="text-decoration-none" href="#" data-toggle="modal" data-target="#modelHELP">
          <div class="card p-3 shadow bg-purple text-center border-0">
            <div class="card-body">
              
              <p class="card-title lead ">CROSS JOIN</p>
              <hr />
              <h2>{{Cross_join}}</h2>
            </div>
          </div>
        </a>
      </div><div class="col-xs-6 col-sm-6 col-md-3 col5width p-2">
        <a class="text-decoration-none" href="#" data-toggle="modal" data-target="#modelHELP">
          <div class="card p-3 shadow bg-purple text-center border-0">
            <div class="card-body">
              
              <p class="card-title lead ">FULL JOIN</p>
              <hr />
              <h2>{{Full_Join}}</h2>
            </div>
          </div>
        </a>
      </div><div class="col-xs-6 col-sm-6 col-md-3 col5width p-2">
        <a class="text-decoration-none" href="#" data-toggle="modal" data-target="#modelHELP">
          <div class="card p-3 shadow bg-purple text-center border-0">
            <div class="card-body">
              
              <p class="card-title lead ">INNER JOIN</p>
              <hr />
              <h2>{{Inner_Join}}</h2>
            </div>
          </div>
        </a>
      </div><div class="col-xs-6 col-sm-6 col-md-3 col5width p-2">
        <a class="text-decoration-none" href="#" data-toggle="modal" data-target="#modelHELP">
          <div class="card p-3 shadow bg-purple text-center border-0">
            <div class="card-body">
              
              <p class="card-title lead ">LEFT JOIN</p>
              <hr />
              <h2>{{Left_Join}}</h2>
            </div>
          </div>
        </a>
      </div><div class="col-xs-6 col-sm-6 col-md-3 col5width p-2">
        <a class="text-decoration-none" href="#" data-toggle="modal" data-target="#modelHELP">
          <div class="card p-3 shadow bg-purple text-center border-0">
            <div class="card-body">
              
              <p class="card-title lead ">RIGHT JOIN</p>
              <hr />
              <h2>{{Right_Join}}</h2>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col5width p-2">
        <a class="text-decoration-none" href="#" data-toggle="modal" data-target="#modelHELP">
          <div class="card p-3 shadow bg-purple text-center border-0">
            <div class="card-body">
              
              <p class="card-title lead ">PARAMETER</p>
              <hr />
              <h2>{{Parameter}}</h2>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col5width p-2">
        <a class="text-decoration-none" href="#" data-toggle="modal" data-target="#modelHELP">
          <div class="card p-3 shadow bg-purple text-center border-0">
            <div class="card-body">
              
              <p class="card-title lead ">MERGE</p>
              <hr />
              <h2>{{Merge}}</h2>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>