<nav class="nav bg-purple justify-content-center">
    <a class="nav-link text-white" routerLink="/dashboard"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
    <a class="nav-link text-white" routerLink="/reportdashboard">Assessment </a>
    <a class="nav-link text-white" routerLink="/converter">Translation</a>
    <a class="nav-link text-white" href="/login">Logout <i class="fa fa-sign-out" aria-hidden="true"></i></a>
  </nav>




  <div class="container">
    <div class="row" style="margin-bottom: 10px;">
      <div class="col">

        <h4 class="mt-5">Procedures</h4>
      </div>
      <div class="col-3 form-group" style="float: right;align-self: end;margin-bottom: 8px;">
        <!-- <label>Filter</label> -->
        
        <ng-multiselect-dropdown
          [placeholder]="'Filter'"
          [settings]="dropdownSettings"
          [data]="dropdownList"
          [(ngModel)]="selectedItems"
          (onSelect)="onItemSelect($event)"
          (onSelectAll)="onSelectAll($event)"
        >
        </ng-multiselect-dropdown>
      </div>
    </div>


<div class="row">
   
    <div class="col-xs-6 col-sm-6 col-md-3 col5width p-2">
      <a class="text-decoration-none" href="#">
        <div class="card p-3 shadow bg-purple text-center border-0">
          <div class="card-body">
            <p class="card-title lead ">PROC MEANS</p>
           <hr /> 
         <h2>{{Proc_Means}}</h2>
          </div>
        </div>
      </a>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-3 col5width p-2">
      <a class="text-decoration-none" href="#">
        <div class="card p-3 shadow bg-danger text-center border-0">
          <div class="card-body">
            <p class="card-title lead text-white">PROC SORT</p>
            <hr class="text-white"/>
            <h2 class="text-white">{{Proc_Sorts}}</h2>
          </div>
        </div>
      </a>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-3 col5width p-2">
      <a class="text-decoration-none" href="#">
        <div style="background-color: #34ba08;" class="card p-3 shadow text-center border-0">
          <div class="card-body">
            <p class="card-title lead text-white">PROC PRINTTO</p>
            <hr class="text-white"/>
           <h2 class="text-white">{{Proc_Printto}}</h2>
          </div>
        </div>
      </a>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-3 col5width p-2">
      <a class="text-decoration-none" href="#">
        <div class="card p-3 shadow bg-purple text-center border-0">
          <div class="card-body">
            
            <p class="card-title lead ">MACRO</p>
           <hr /> 
         <h2>{{Macro}}</h2>
          </div>
        </div>
      </a>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-3 col5width p-2">
      <a class="text-decoration-none" href="#">
        <div class="card p-3 shadow bg-purple text-center border-0">
          <div class="card-body">
           
            <p class="card-title lead ">PROC TRANSPOSE</p>
           <hr /> 
         <h2>{{Proc_Transpose}}</h2>
          </div>
        </div>
      </a>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-3 col5width p-2">
      <a class="text-decoration-none" href="#" data-toggle="modal" data-target="#modelHELP">
        <div class="card p-3 shadow bg-purple text-center border-0">
          <div class="card-body">
            
            <p class="card-title lead ">PROC CORRELATION</p>
           <hr /> 
         <h2>{{Proc_Correlation}}</h2>
          </div>
        </div>
      </a>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3 col5width p-2">
      <a class="text-decoration-none" href="#">
        <div class="card p-3 shadow bg-purple text-center border-0">
          <div class="card-body">
            
            <p class="card-title lead ">PROC FREQ</p>
           <hr /> 
         <h2>{{Proc_Freq}}</h2>
          </div>
        </div>
      </a>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-3 col5width p-2">
      <a class="text-decoration-none" href="#">
        <div class="card p-3 shadow bg-purple text-center border-0">
          <div class="card-body">
            
            <p class="card-title lead ">PROC CONTEXTS</p>
           <hr /> 
         <h2>{{Proc_Contexts}}</h2>
          </div>
        </div>
      </a>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-3 col5width p-2">
      <a class="text-decoration-none" href="#">
        <div class="card p-3 shadow bg-purple text-center border-0">
          <div class="card-body">
           
            <p class="card-title lead "> PROC UNIVARIATE</p>
           <hr /> 
         <h2>{{Proc_Univariant}}</h2>
          </div>
        </div>
      </a>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-3 col5width p-2">
      <a class="text-decoration-none" href="#" data-toggle="modal" data-target="#modelHELP">
        <div class="card p-3 shadow bg-purple text-center border-0">
          <div class="card-body">
            
            <p class="card-title lead ">PROC</p>
           <hr /> 
         <h2>{{Proc}}</h2>
          </div>
        </div>
      </a>
    </div>

    </div>
    </div>