<div class="container py-5">
    <div class="row">
      <div class="col-lg-12 p-5">
        <h1> <i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</h1>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-3 col5width p-2">
        <a class="text-decoration-none" href="#">
          <div class="card p-3 shadow bg-purple text-center border-0">
            <div class="card-body">
              <h2>20<span class="h6">&nbsp;/&nbsp;1000</span></h2>
              <hr />
              <p class="card-title lead ">PROC MEANS</p>
            </div>
          </div>
        </a>
      </div>
  
      <div class="col-xs-6 col-sm-6 col-md-3 col5width p-2">
        <a class="text-decoration-none" href="#">
          <div class="card p-3 shadow bg-danger text-center border-0">
            <div class="card-body">
              <h2 class="text-white">0<span class="h6">&nbsp;/&nbsp;10</span></h2>
              <hr class="text-white"/>
              <p class="card-title lead text-white">PROC SORT</p>
            </div>
          </div>
        </a>
      </div>
  
      <div class="col-xs-6 col-sm-6 col-md-3 col5width p-2">
        <a class="text-decoration-none" href="#">
          <div style="background-color: #34ba08;" class="card p-3 shadow text-center border-0">
            <div class="card-body">
              <h2 class="text-white">2<span class="h6">&nbsp;/&nbsp;10</span></h2>
              <hr class="text-white"/>
              <p class="card-title lead text-white">PROC PRINTTO</p>
            </div>
          </div>
        </a>
      </div>
  
      <div class="col-xs-6 col-sm-6 col-md-3 col5width p-2">
        <a class="text-decoration-none" href="#">
          <div class="card p-3 shadow bg-purple text-center border-0">
            <div class="card-body">
              <h2>2<span class="h6">&nbsp;/&nbsp;10</span></h2>
              <hr />
              <p class="card-title lead ">MACRO</p>
            </div>
          </div>
        </a>
      </div>
  
      <div class="col-xs-6 col-sm-6 col-md-3 col5width p-2">
        <a class="text-decoration-none" href="#">
          <div class="card p-3 shadow bg-purple text-center border-0">
            <div class="card-body">
             <h2>2<span class="h6">&nbsp;/&nbsp;10</span></h2>
              <hr />
              <p class="card-title lead ">PROC TRANSPOSE</p>
            </div>
          </div>
        </a>
      </div>
  
      <div class="col-xs-6 col-sm-6 col-md-3 col5width p-2">
        <a class="text-decoration-none" href="#" data-toggle="modal" data-target="#modelHELP">
          <div class="card p-3 shadow bg-purple text-center border-0">
            <div class="card-body">
              <h2>2<span class="h6">&nbsp;/&nbsp;10</span></h2>
              <hr />
              <p class="card-title lead ">PROC CORRELATION</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col5width p-2">
        <a class="text-decoration-none" href="#">
          <div class="card p-3 shadow bg-purple text-center border-0">
            <div class="card-body">
              <h2>2<span class="h6">&nbsp;/&nbsp;10</span></h2>
              <hr />
              <p class="card-title lead ">PROC FREQ</p>
            </div>
          </div>
        </a>
      </div>
  
      <div class="col-xs-6 col-sm-6 col-md-3 col5width p-2">
        <a class="text-decoration-none" href="#">
          <div class="card p-3 shadow bg-purple text-center border-0">
            <div class="card-body">
              <h2>2<span class="h6">&nbsp;/&nbsp;10</span></h2>
              <hr />
              <p class="card-title lead ">PROC CONTEXTS</p>
            </div>
          </div>
        </a>
      </div>
  
      <div class="col-xs-6 col-sm-6 col-md-3 col5width p-2">
        <a class="text-decoration-none" href="#">
          <div class="card p-3 shadow bg-purple text-center border-0">
            <div class="card-body">
             <h2>2<span class="h6">&nbsp;/&nbsp;10</span></h2>
              <hr />
              <p class="card-title lead "> PROC UNIVARIATE</p>
            </div>
          </div>
        </a>
      </div>
  
      <div class="col-xs-6 col-sm-6 col-md-3 col5width p-2">
        <a class="text-decoration-none" href="#" data-toggle="modal" data-target="#modelHELP">
          <div class="card p-3 shadow bg-purple text-center border-0">
            <div class="card-body">
              <h2>2<span class="h6">&nbsp;/&nbsp;10</span></h2>
              <hr />
              <p class="card-title lead ">PROC</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>