<nav class="nav bg-purple justify-content-center">
  <a class="nav-link text-white" routerLink="/dashboard"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
  <a class="nav-link text-white" routerLink="/reportdashboard">Assement</a>
  <a class="nav-link text-white" routerLink="/converter">Translation</a>
  <a class="nav-link text-white" href="/login">Logout <i class="fa fa-sign-out" aria-hidden="true"></i></a>
</nav>
<div class="container py-5">
    <div class="row">
      <div class="col-lg-12 pb-5">
        <h1> <i class="fa fa-tachometer" aria-hidden="true"></i>Assement</h1>
        <hr />
      </div>
    </div>
    <div class="row">
      <h4>Procedures</h4>
      <div class="col-xs-6 col-sm-6 col-md-3 col5width p-2">
        <a class="text-decoration-none" href="#">
          <div class="card p-3 shadow bg-purple text-center border-0">
            <div class="card-body">
              <h2>20<span class="h6">&nbsp;/&nbsp;1000</span></h2>
              <hr />
              <p class="card-title lead ">PROC MEANS</p>
            </div>
          </div>
        </a>
      </div>
  
      <div class="col-xs-6 col-sm-6 col-md-3 col5width p-2">
        <a class="text-decoration-none" href="#">
          <div class="card p-3 shadow bg-danger text-center border-0">
            <div class="card-body">
              <h2 class="text-white">0<span class="h6">&nbsp;/&nbsp;10</span></h2>
              <hr class="text-white"/>
              <p class="card-title lead text-white">PROC SORT</p>
            </div>
          </div>
        </a>
      </div>
  
      <div class="col-xs-6 col-sm-6 col-md-3 col5width p-2">
        <a class="text-decoration-none" href="#">
          <div style="background-color: #34ba08;" class="card p-3 shadow text-center border-0">
            <div class="card-body">
              <h2 class="text-white">2<span class="h6">&nbsp;/&nbsp;10</span></h2>
              <hr class="text-white"/>
              <p class="card-title lead text-white">PROC PRINTTO</p>
            </div>
          </div>
        </a>
      </div>
  
      <div class="col-xs-6 col-sm-6 col-md-3 col5width p-2">
        <a class="text-decoration-none" href="#">
          <div class="card p-3 shadow bg-purple text-center border-0">
            <div class="card-body">
              <h2>2<span class="h6">&nbsp;/&nbsp;10</span></h2>
              <hr />
              <p class="card-title lead ">MACRO</p>
            </div>
          </div>
        </a>
      </div>
  
      <div class="col-xs-6 col-sm-6 col-md-3 col5width p-2">
        <a class="text-decoration-none" href="#">
          <div class="card p-3 shadow bg-purple text-center border-0">
            <div class="card-body">
             <h2>2<span class="h6">&nbsp;/&nbsp;10</span></h2>
              <hr />
              <p class="card-title lead ">PROC TRANSPOSE</p>
            </div>
          </div>
        </a>
      </div>
  
      <div class="col-xs-6 col-sm-6 col-md-3 col5width p-2">
        <a class="text-decoration-none" href="#" data-toggle="modal" data-target="#modelHELP">
          <div class="card p-3 shadow bg-purple text-center border-0">
            <div class="card-body">
              <h2>2<span class="h6">&nbsp;/&nbsp;10</span></h2>
              <hr />
              <p class="card-title lead ">PROC CORRELATION</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col5width p-2">
        <a class="text-decoration-none" href="#">
          <div class="card p-3 shadow bg-purple text-center border-0">
            <div class="card-body">
              <h2>2<span class="h6">&nbsp;/&nbsp;10</span></h2>
              <hr />
              <p class="card-title lead ">PROC FREQ</p>
            </div>
          </div>
        </a>
      </div>
  
      <div class="col-xs-6 col-sm-6 col-md-3 col5width p-2">
        <a class="text-decoration-none" href="#">
          <div class="card p-3 shadow bg-purple text-center border-0">
            <div class="card-body">
              <h2>2<span class="h6">&nbsp;/&nbsp;10</span></h2>
              <hr />
              <p class="card-title lead ">PROC CONTEXTS</p>
            </div>
          </div>
        </a>
      </div>
  
      <div class="col-xs-6 col-sm-6 col-md-3 col5width p-2">
        <a class="text-decoration-none" href="#">
          <div class="card p-3 shadow bg-purple text-center border-0">
            <div class="card-body">
             <h2>2<span class="h6">&nbsp;/&nbsp;10</span></h2>
              <hr />
              <p class="card-title lead "> PROC UNIVARIATE</p>
            </div>
          </div>
        </a>
      </div>
  
      <div class="col-xs-6 col-sm-6 col-md-3 col5width p-2">
        <a class="text-decoration-none" href="#" data-toggle="modal" data-target="#modelHELP">
          <div class="card p-3 shadow bg-purple text-center border-0">
            <div class="card-body">
              <h2>2<span class="h6">&nbsp;/&nbsp;10</span></h2>
              <hr />
              <p class="card-title lead ">PROC</p>
            </div>
          </div>
        </a>
      </div>

      <h4>Macros Related</h4>

      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-4  p-2">
        <a class="text-decoration-none" href="#" data-toggle="modal" data-target="#modelHELP">
          <div class="card p-3 shadow bg-purple text-center border-0">
            <div class="card-body">
              <h2>2<span class="h6">&nbsp;/&nbsp;10</span></h2>
              <hr />
              <p class="card-title lead ">DEFINING MACRO</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-4  p-2">
        <a class="text-decoration-none" href="#">
          <div class="card p-3 shadow bg-purple text-center border-0">
            <div class="card-body">
              <h2>2<span class="h6">&nbsp;/&nbsp;10</span></h2>
              <hr />
              <p class="card-title lead ">DEFINING MACRO VARIABLES</p>
            </div>
          </div>
        </a>
      </div>
  
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-4  p-2">
        <a class="text-decoration-none" href="#">
          <div class="card p-3 shadow bg-purple text-center border-0">
            <div class="card-body">
              <h2>2<span class="h6">&nbsp;/&nbsp;10</span></h2>
              <hr />
              <p class="card-title lead ">MACRO FUNCTION EVAL</p>
            </div>
          </div>
        </a>
      </div>

      <h4>Data Step Statements</h4>

      <div class="col-xs-6 col-sm-6 col-md-3 col5width p-2">
        <a class="text-decoration-none" href="#" data-toggle="modal" data-target="#modelHELP">
          <div class="card p-3 shadow bg-purple text-center border-0">
            <div class="card-body">
              <h2>2<span class="h6">&nbsp;/&nbsp;10</span></h2>
              <hr />
              <p class="card-title lead ">Array</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col5width p-2">
        <a class="text-decoration-none" href="#">
          <div class="card p-3 shadow bg-purple text-center border-0">
            <div class="card-body">
              <h2>2<span class="h6">&nbsp;/&nbsp;10</span></h2>
              <hr />
              <p class="card-title lead ">DROP</p>
            </div>
          </div>
        </a>
      </div>
  
      <div class="col-xs-6 col-sm-6 col-md-3 col5width p-2">
        <a class="text-decoration-none" href="#">
          <div class="card p-3 shadow bg-purple text-center border-0">
            <div class="card-body">
              <h2>2<span class="h6">&nbsp;/&nbsp;10</span></h2>
              <hr />
              <p class="card-title lead ">KEEP</p>
            </div>
          </div>
        </a>
      </div>
  
      <div class="col-xs-6 col-sm-6 col-md-3 col5width p-2">
        <a class="text-decoration-none" href="#">
          <div class="card p-3 shadow bg-purple text-center border-0">
            <div class="card-body">
             <h2>2<span class="h6">&nbsp;/&nbsp;10</span></h2>
              <hr />
              <p class="card-title lead "> RENAME</p>
            </div>
          </div>
        </a>
      </div>
  
      <div class="col-xs-6 col-sm-6 col-md-3 col5width p-2">
        <a class="text-decoration-none" href="#" data-toggle="modal" data-target="#modelHELP">
          <div class="card p-3 shadow bg-purple text-center border-0">
            <div class="card-body">
              <h2>2<span class="h6">&nbsp;/&nbsp;10</span></h2>
              <hr />
              <p class="card-title lead ">SET</p>
            </div>
          </div>
        </a>
      </div>


      <div class="col-xs-6 col-sm-6 col-md-3 col5width p-2">
        <a class="text-decoration-none" href="#" data-toggle="modal" data-target="#modelHELP">
          <div class="card p-3 shadow bg-purple text-center border-0">
            <div class="card-body">
              <h2>0<span class="h6">&nbsp;/&nbsp;10</span></h2>
              <hr />
              <p class="card-title lead ">CROSS JOIN</p>
            </div>
          </div>
        </a>
      </div><div class="col-xs-6 col-sm-6 col-md-3 col5width p-2">
        <a class="text-decoration-none" href="#" data-toggle="modal" data-target="#modelHELP">
          <div class="card p-3 shadow bg-purple text-center border-0">
            <div class="card-body">
              <h2>0<span class="h6">&nbsp;/&nbsp;10</span></h2>
              <hr />
              <p class="card-title lead ">FULL JOIN</p>
            </div>
          </div>
        </a>
      </div><div class="col-xs-6 col-sm-6 col-md-3 col5width p-2">
        <a class="text-decoration-none" href="#" data-toggle="modal" data-target="#modelHELP">
          <div class="card p-3 shadow bg-purple text-center border-0">
            <div class="card-body">
              <h2>0<span class="h6">&nbsp;/&nbsp;10</span></h2>
              <hr />
              <p class="card-title lead ">INNER JOIN</p>
            </div>
          </div>
        </a>
      </div><div class="col-xs-6 col-sm-6 col-md-3 col5width p-2">
        <a class="text-decoration-none" href="#" data-toggle="modal" data-target="#modelHELP">
          <div class="card p-3 shadow bg-purple text-center border-0">
            <div class="card-body">
              <h2>0<span class="h6">&nbsp;/&nbsp;10</span></h2>
              <hr />
              <p class="card-title lead ">LEFT JOIN</p>
            </div>
          </div>
        </a>
      </div><div class="col-xs-6 col-sm-6 col-md-3 col5width p-2">
        <a class="text-decoration-none" href="#" data-toggle="modal" data-target="#modelHELP">
          <div class="card p-3 shadow bg-purple text-center border-0">
            <div class="card-body">
              <h2>0<span class="h6">&nbsp;/&nbsp;10</span></h2>
              <hr />
              <p class="card-title lead ">RIGHT JOIN</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col5width p-2">
        <a class="text-decoration-none" href="#" data-toggle="modal" data-target="#modelHELP">
          <div class="card p-3 shadow bg-purple text-center border-0">
            <div class="card-body">
              <h2>0<span class="h6">&nbsp;/&nbsp;10</span></h2>
              <hr />
              <p class="card-title lead ">PARAMETER</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col5width p-2">
        <a class="text-decoration-none" href="#" data-toggle="modal" data-target="#modelHELP">
          <div class="card p-3 shadow bg-purple text-center border-0">
            <div class="card-body">
              <h2>0<span class="h6">&nbsp;/&nbsp;10</span></h2>
              <hr />
              <p class="card-title lead ">MERGE</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>