<nav class="nav bg-purple justify-content-center">
    <a class="nav-link text-white" routerLink="/dashboard"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
    <a class="nav-link text-white" routerLink="/reportdashboard">Summary</a>
    <a class="nav-link text-white" routerLink="/converter">Translation</a>
    <a class="nav-link text-white" href="/login">Logout <i class="fa fa-sign-out" aria-hidden="true"></i></a>
  </nav>



  
  <div class="container">
  <div class="row">
    <h4 class="mt-5">Summary Statics</h4>
<div class="col-xs-6 col-sm-6 col-md-3 p-2">
  <a class="text-decoration-none" href="#">
    <div class="card p-3 shadow bg-purple text-center border-0">
      <div class="card-body">
        <h2>1</h2>
        <hr />
        <p class="card-title lead ">NO. OF SAS SCRIPTS</p>
      </div>
    </div>
  </a>
</div>


<div class="col-xs-6 col-sm-6 col-md-3 p-2">
    <a class="text-decoration-none" href="#">
      <div class="card p-3 shadow bg-purple text-center border-0">
        <div class="card-body">
          <h2>2</h2>
          <hr />
          <p class="card-title lead text-uppercase">No of macro variables</p>
        </div>
      </div>
    </a>
  </div>


  <div class="col-xs-6 col-sm-6 col-md-3 p-2">
    <a class="text-decoration-none" href="#">
      <div class="card p-3 shadow bg-purple text-center border-0">
        <div class="card-body">
          <h2>3</h2>
          <hr />
          <p class="card-title lead text-uppercase">No of macros</p>
        </div>
      </div>
    </a>
  </div>

  <div class="col-xs-6 col-sm-6 col-md-3 p-2">
    <a class="text-decoration-none" href="#">
      <div class="card p-3 shadow bg-purple text-center border-0">
        <div class="card-body">
          <h2>4</h2>
          <hr />
          <p class="card-title lead text-uppercase">No of procs</p>
        </div>
      </div>
    </a>
  </div>

<div class="col-xs-6 col-sm-6 col-md-3 p-2">
  <a class="text-decoration-none" href="#">
    <div class="card p-3 shadow bg-danger text-center border-0">
      <div class="card-body">
        <h2 class="text-white">5</h2>
        <hr class="text-white"/>
        <p class="card-title lead text-white text-uppercase">NO. OF SAS CODE LINES</p>
      </div>
    </div>
  </a>
</div>

<div class="col-xs-6 col-sm-6 col-md-3  p-2">
  <a class="text-decoration-none" href="#">
    <div style="background-color: #34ba08;" class="card p-3 shadow text-center border-0">
      <div class="card-body">
        <h2 class="text-white">6</h2>
        <hr class="text-white"/>
        <p class="card-title lead text-white text-uppercase">No of proc sql</p>
      </div>
    </div>
  </a>
</div>
<div class="col-xs-6 col-sm-6 col-md-3  p-2">
    <a class="text-decoration-none" href="#">
      <div style="background-color: #34ba08;" class="card p-3 shadow text-center border-0">
        <div class="card-body">
          <h2 class="text-white">7</h2>
          <hr class="text-white"/>
          <p class="card-title lead text-white text-uppercase">No of Datasteps</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-3  p-2">
    <a class="text-decoration-none" href="#">
      <div style="background-color: #34ba08;" class="card p-3 shadow text-center border-0">
        <div class="card-body">
          <h2 class="text-white">8</h2>
          <hr class="text-white"/>
          <p class="card-title lead text-white text-uppercase">Statements</p>
        </div>
      </div>
    </a>
  </div>
</div>
</div>