<nav class="nav bg-purple justify-content-center">
    <a class="nav-link text-white" routerLink="/dashboard"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
    <a class="nav-link text-white" routerLink="/reportdashboard">Assessment </a>
    <a class="nav-link text-white" routerLink="/converter">Translation</a>
    <a class="nav-link text-white" href="/login">Logout <i class="fa fa-sign-out" aria-hidden="true"></i></a>
  </nav>



  
  <div class="container">
    <div class="row" style="margin-bottom: 10px;">
      <div class="col">

        <h4 class="mt-5">Overview</h4>
      </div>
      <div class="col-3 form-group" style="float: right;align-self: end;margin-bottom: 8px;">
        <!-- <label>Filter</label> -->
        
        <select class="form-control">
          
          <option value="">Select option</option>
          <option value="1">1 SCRIPTS</option>
          <option value="3">3 SCRIPTS</option>
          <option value="6">6 SCRIPTS</option>
          
        </select>
      </div>
    </div>
  <div class="row">
    
<div class="col-xs-6 col-sm-6 col-md-3 p-2">
  <a class="text-decoration-none" href="#">
    <div class="card p-3 shadow bg-purple text-center border-0">
      <div class="card-body">
        <p class="card-title lead ">NO. OF SAS SCRIPTS</p>
        <hr />
        <h2>1</h2>
        
      </div>
    </div>
  </a>
</div>


<div class="col-xs-6 col-sm-6 col-md-3 p-2">
    <a class="text-decoration-none" href="#">
      <div class="card p-3 shadow bg-purple text-center border-0">
        <div class="card-body">
        
          <p class="card-title lead text-uppercase">No of macro variables</p>
          <hr />
          <h2>2</h2>
        </div>
      </div>
    </a>
  </div>


  <div class="col-xs-6 col-sm-6 col-md-3 p-2">
    <a class="text-decoration-none" href="#">
      <div class="card p-3 shadow bg-purple text-center border-0">
        <div class="card-body">
          <p class="card-title lead text-uppercase">No of macros</p>
          <hr />
          <h2>3</h2>
         
        </div>
      </div>
    </a>
  </div>

  <div class="col-xs-6 col-sm-6 col-md-3 p-2">
    <a class="text-decoration-none" href="#">
      <div class="card p-3 shadow bg-purple text-center border-0">
        <div class="card-body">
          <p class="card-title lead text-uppercase">No of procs</p>
          <hr />
          <h2>4</h2>
        </div>
      </div>
    </a>
  </div>

<div class="col-xs-6 col-sm-6 col-md-3 p-2">
  <a class="text-decoration-none" href="#">
    <div class="card p-3 shadow bg-danger text-center border-0">
      <div class="card-body">
        <p class="card-title lead text-white text-uppercase">TOTAL NO. OF LINES</p>
        <hr class="text-white"/>
        <h2 class="text-white">5</h2>
      </div>
    </div>
  </a>
</div>

<div class="col-xs-6 col-sm-6 col-md-3  p-2">
  <a class="text-decoration-none" href="#">
    <div style="background-color: #34ba08;" class="card p-3 shadow text-center border-0">
      <div class="card-body">
        <p class="card-title lead text-white text-uppercase">No of procs sql</p>
        <hr class="text-white"/>
        <h2 class="text-white">6</h2>
      </div>
    </div>
  </a>
</div>
<div class="col-xs-6 col-sm-6 col-md-3  p-2">
    <a class="text-decoration-none" href="#">
      <div style="background-color: #34ba08;" class="card p-3 shadow text-center border-0">
        <div class="card-body">
          <p class="card-title lead text-white text-uppercase">No of Datasteps</p>
          <hr class="text-white"/>
          <h2 class="text-white">7</h2>
        </div>
      </div>
    </a>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-3  p-2">
    <a class="text-decoration-none" href="#">
      <div style="background-color: #34ba08;" class="card p-3 shadow text-center border-0">
        <div class="card-body">
          <p class="card-title lead text-white text-uppercase">no of Statements</p>
          <hr class="text-white"/>
          <h2 class="text-white">8</h2>
        </div>
      </div>
    </a>
  </div>
</div>
</div>